.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

nav a {
  padding: 0.5rem;
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgb(209, 207, 207);
}

nav a.active {
  font-weight: bold;
}

img {
	max-width: 450px;
	height: auto;
}

img.opt {
	max-width: 200px;
	height: auto;
}

p {
	font-size: 1.2rem;
	text-align: center;
}

p.quiz-options {
	font-size: 1.5rem;
	text-align: left;
	font-weight: bold;
}

p.options-comment {
	font-size: 0.8rem;
	text-align: left;
	line-height: 1px;
}

p.comment {
	font-size: 1.4rem;
	text-align: center;
	line-height: 1px;
	font-weight: bold;
	color: #4d4d4e;
}

p.how {
	font-size: 0.8rem;
	text-align: center;
	line-height: 1px;
}


p.how:hover {
	font-size: 0.8rem;
	text-align: center;
	line-height: 1px;
	color: blue;
	text-decoration: underline;
}

p.or-then {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	color: gray;
}

h3 {
	font-size: 2rem;
	text-align: center;
	line-height: 1px;
}

h3.title-tasks {
	font-size: 1rem;
	text-align: center;
	line-height: 1px;
	font-weight: normal;
	color: #490903;
}

h1 {
	font-size: 2.5rem;
	text-align: center;
	line-height: 1px;
	margin-top: 50px;
}

label {
	margin-top: 15px;
}

.right {
	font-size: 1.4rem;

}

.info {
	font-size: 1.5rem;
	padding-bottom: 5px;
	font-weight: bold;
}

.btn-this {
	font-size: 1.5rem;
	background-color: white;
	border-radius: 12px;
	font-weight: bold;
	color: black;
	padding: 5px 10px 5px 10px;
}

.btn-this:hover {
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 1px black;
}

.btn-another {
	font-size: 1.5rem;
	background-color: white;
	border-radius: 12px;
	font-weight: bold;
	color: black;
	padding: 10px 20px 10px 20px;
	margin-top: 40px;
}

.btn-another:hover {
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 1px black;
}

.btn-choose-test {
	font-size: 1.2rem;
	background-color: gray;
	border-radius: 12px;
	color: white;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
}

.btn-choose-test:hover {
	font-size: 1.2rem;
	background-color: white;
	border-radius: 12px;
	color: #1f1f1f;
	padding: 5px 10px 5px 10px;
	margin-top: 10px;
}

.btn-answer {
	width: 100%;
	height: auto;
	background-color: white;
	color: black;
	padding: 5px 10px 5px 10px;
}

.btn-answer:hover {
	background-color: #e0e3e4;
}

.right-answer,
.right-answer:hover {
	background-color: green;
	color: white;
}

.wrong-answer,
.wrong-answer:hover {
	background-color: red;
	color: white;
}

.btn-change-test {
	font-size: 0.7rem;
	width: auto;
	height: auto;
	border-radius: 7px;
	background-color: white;
	color: gray;
	padding: 2px 5px 2px 5px;
	margin-top: 20px;
	margin-left: 250px;
}

.btn-change-test:hover {
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 1px gray;
}



select {
	-webkit-appearance: button;
	-moz-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	-webkit-padding-end: 10px;
	-moz-padding-end: 10px;
	-webkit-padding-start: 5px;
	-moz-padding-start: 5px;
	background-color: gray;

	background-position: center right;
	background-repeat: no-repeat;
	border: 1px solid #7c7c7c;
	border-radius: 15px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
	color: white;
	font-size: 1.2rem;
	margin: 0;
	overflow: hidden;
	padding-top: 5px;
	padding-bottom: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 10px;
	margin-right: 10px;
}

.btn-choose-quiz {
	padding: 5px 10px 5px 10px;
	background-color: gray;
	border-radius: 15px;
	color: white;
	font-size: 1.2rem;
}

.btn-choose-quiz:hover {
	outline-color: transparent;
	outline-style: solid;
	box-shadow: 0 0 0 1px black;
}

p.gridsize {
	font-size: 2rem;
	text-align: left;
	font-weight: normal;
	line-height: 5px;
	color: black;
}

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.popup-inner {
	position: relative;
	padding: 15px;
	width: 0 auto;
	max-width: 300px;
	align-items: center;
	background-color: rgb(56, 55, 55);
	color: white;
	font-size: 1.2rem;
	border-radius: 12px;
}

.popup-inner .close-btn {
	margin-top: 20px;
	margin-left: 57px;
	background-color: white;
	color: black;
	border-radius: 12px;
	font-weight: bold;
	font-size: 1rem;
	padding: 7px;
}

.popup-inner .vertical-btn {
	background-color: white;
	color: black;
	border-radius: 12px;
	font-weight: bold;
	font-size: 1rem;
	padding: 5px;
	margin-right: 5px;
}


.popup-creat-quiz {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.2);

	display: flex;
	justify-content: center;
	align-items: center;
}

.popup-popup-creat-quiz-inner {
	position: relative;
	padding: 15px;
	width: 0 auto;
	max-width: 500px;
	background-color: white;
	border: 1px solid black;
	color: black;
	font-size: 1.4rem;
	border-radius: 12px;
}

.popup-creat-quiz .create-btn {
	margin-top: 20px;
	background-color: white;
	color: black;
	border-radius: 12px;
	font-weight: bold;
	font-size: 1rem;
	padding: 7px;
}

.popup-creat-quiz .cancel-btn {
	margin-top: 20px;
	margin-left: 20px;
	background-color: white;
	color: black;
	border-radius: 12px;
	font-size: 1rem;
	padding: 7px;
}

.popup-instruction {
	position: fixed;
}

.popup-instruction-inner {
	position: relative;
	margin-left: 80px;
	margin-top: -150px;
}

form.choose-quiz {
	margin-top: 30px;
}

input.quiz-title {
	width: 200px;
	height: 20px;
}

input.title {
	width: 90px;
	height: 20px;
}

input.list {
	width: 410px;
	height: 20px;
}

textarea {
	width: 410px;
	height: 40px;
}
