body {
  font-family: "Lucida Console", "Courier New", monospace;
}

label {
  margin-top: 15px;
}

/*--------------------------------Quiz buttons for answers*/
.btn-answer {
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  padding: 5px 10px 5px 10px;
}

.btn-answer:hover {
  background-color: #e0e3e4;
}

.right-answer,
.right-answer:hover {
  background-color: green;
  color: white;
}

.wrong-answer,
.wrong-answer:hover {
  background-color: red;
  color: white;
}
/*--------------------------------*/

.img-navbar {
  width: 2rem;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
}

/*.button {
  width: 70%;
  font-size: 1.5vw;
  border-radius: 50px;
  text-align: left;
  margin: 0.4vw;
  
}*/

button{
  display: flex;  
  align-items: center;
  justify-content: center;
  width: 100%;
}
button img{
  margin-right: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 30px;
  height: auto;
}

button span{
  margin-right: auto;
  font-size: 1.2rem;
}
