.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

label {
  margin-top: 15px;
}

/*--------------------------------Quiz buttons for answers*/
.btn-answer {
  width: 100%;
  height: auto;
  background-color: white;
  color: black;
  padding: 5px 10px 5px 10px;
}

.btn-answer:hover {
  background-color: #e0e3e4;
}

.right-answer,
.right-answer:hover {
  background-color: green;
  color: white;
}

.wrong-answer,
.wrong-answer:hover {
  background-color: red;
  color: white;
}
/*--------------------------------*/

.img-navbar {
  width: 50%;
  height: auto;
}